@using Microsoft.AspNetCore.Identity
@using WrokFlowWeb.Areas.Identity.Data

@inject SignInManager<WrokFlowWebUser> SignInManager
@inject UserManager<WrokFlowWebUser> UserManager

<ul class="navbar-nav sidebarNav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("Admin"))
        {
            <li>
                <a asp-controller="Home" asp-action="Index" class="nav-link @(ViewBag.PageName == "Dashboard" ? "active" : "")"><img src="~/images/home.png" />Dashboard</a>
            </li>
        }

        @if (User.IsInRole("Admin") || User.IsInRole("VendorManagmentTeam") || User.IsInRole("ProcurementManger") || User.IsInRole("Buyer"))
        {
            <li>
                <a asp-action="InboxList" asp-controller="SupplierRequest" class="nav-link @(ViewBag.PageName == "Inbox" ? "active" : "")"><img src="~/images/inbox.png" />Inbox</a>
            </li>
        }

        @if (User.IsInRole("Admin"))
        {
            <li>
                <a asp-action="ListRoles" asp-controller="Role" class="nav-link @(ViewBag.PageName == "Roles" ? "active" : "")"><img src="~/images/role.png" />Manage Roles</a>
            </li>
        }

        @if (User.IsInRole("Admin"))
        {
            <li>
                <a asp-action="ListUsers" asp-controller="Role" class="nav-link @(ViewBag.PageName == "ListUsers" ? "active" : "")"><img src="~/images/register.png" />User Registration</a>
            </li>
        }


        @if (User.IsInRole("Admin") || User.IsInRole("Buyer"))
        {
            <li>
                <a asp-action="List" asp-controller="SupplierRequest" class="nav-link @(ViewBag.PageName == "SupplierRequest" ? "active" : "")"><img src="~/images/request.png" />Supplier Request</a>
            </li>
        }
        @if (User.IsInRole("Admin") || User.IsInRole("Buyer"))
        {
            <li>
                <a asp-action="GetInternalQuestionaire" asp-controller="SupplierRegistration" class="nav-link @(ViewBag.PageName == "SupplierRegistration" ? "active" : "")"><img src="~/images/request.png" />Internal Questionnaire</a>
            </li>
        }

        @if (User.IsInRole("Admin") || User.IsInRole("Buyer"))
        {
            <li>
                <a asp-action="GetInternalQuestionaire" asp-controller="SupplierRegistration" class="nav-link @(ViewBag.PageName == "SupplierRegistration" ? "active" : "")"><img src="~/images/request.png" />Supplier Qualification</a>
            </li>
        }

        @if (User.IsInRole("Admin"))
        {
            <li>
                <a asp-action="SyncSAP" asp-controller="SupplierRegistration" class="nav-link @(ViewBag.PageName == "Masters" ? "active" : "")"><img src="~/images/masters.png" />Sync SAP</a>
            </li>
        }

        @if (User.IsInRole("Admin"))
        {
            <li>
                <a asp-action="CategoryList" asp-controller="SupplierRequest" class="nav-link @(ViewBag.PageName == "Masters" ? "active" : "")"><img src="~/images/masters.png" />Masters</a>
            </li>
        }

        @if (User.IsInRole("Admin"))
        {
            <li>
                <a asp-action="List" asp-controller="Question" class="nav-link @(ViewBag.PageName == "Masters" ? "active" : "")"><img src="~/images/masters.png" />Create Question Master</a>
            </li>
        }

        @if (User.IsInRole("Admin") || User.IsInRole("Buyer"))
        {
            <li>
                <a asp-action="SupplierReport" asp-controller="Report" class="nav-link @(ViewBag.PageName == "Reports" ? "active" : "")"><img src="~/images/reports.png" />Reports</a>
            </li>
        }


    }
</ul>
