@model WrokFlowWeb.ViewModel.SupplierRequest.RequestApprovalViewModel

@{
    ViewBag.Title = "Approval Details";
}
@{
    ViewBag.PageName = "SupplierRequest";
}

<div class="w-100 h-100 bg-white p-10 border-radius-5 box-shadow">
    <div class="d-flex flex-column h-100 w-100 pt-10"   >

        <div class="d-flex flex-1 overflow-y w-100 h-100">
            <form class="w-100" asp-controller="SupplierRequest" asp-action="Approve" method="post">
                @Html.HiddenFor(m => m.InboxListViewModel.RequestId)
                @Html.HiddenFor(m => m.InboxListViewModel.ModuleId)

                <div class="d-flex w-100 flex-column  pb-3 border-bottom">
                    <div class="d-flex f-15 pb-1 font-weight-bold">
                        <div>@Html.DisplayNameFor(x => x.SupplierViewModel.SupplierName):&nbsp;</div>
                        <div class="flex-auto">@Html.DisplayFor(x => x.SupplierViewModel.SupplierName)</div>
                    </div>
                    <div class="d-flex f-15 pb-1 font-weight-bold">
                        <div>@Html.DisplayNameFor(x => x.SupplierViewModel.SupplierRequestId):&nbsp;</div>
                        <div class="flex-auto">@Html.DisplayFor(x => x.SupplierViewModel.SupplierRequestId)</div>
                    </div>
                    <div class="d-flex pb-1">
                        <div>@Html.DisplayNameFor(x => x.SupplierViewModel.RequesterName):&nbsp;</div>
                        <div class="flex-auto">@Html.DisplayFor(x => x.SupplierViewModel.RequesterName)</div>
                    </div>


                    <div class="d-flex pb-1">
                        <div>@Html.DisplayNameFor(x => x.SupplierViewModel.EmailId):&nbsp;</div>
                        <div class="flex-auto">@Html.DisplayFor(x => x.SupplierViewModel.EmailId)</div>
                    </div>

                    <div class="d-flex pb-1">
                        <div>@Html.DisplayNameFor(x => x.SupplierViewModel.FirstName):&nbsp;</div>
                        <div class="flex-auto">@Html.DisplayFor(x => x.SupplierViewModel.FirstName)</div>
                    </div>
                    <div class="d-flex pb-1">
                        <div>@Html.DisplayNameFor(x => x.SupplierViewModel.ContactPhone):&nbsp;</div>
                        <div class="flex-auto">@Html.DisplayFor(x => x.SupplierViewModel.ContactPhone)</div>
                    </div>
                </div>
                <br/>
                <div class="d-flex w-100 grid-small mb-10">
                    <table class="w-100">
                        <thead>
                            <tr>
                                <th>Aprroved By </th>
                                <th>Comments</th>
                                <th>Approved Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var approvedLog in Model.SupplierRequestApprovalLog)
                            {
                                <tr>
                                    <td>@approvedLog.ApprovedBy</td>
                                    <td>@approvedLog.ApprovalComments</td>
                                    <td>@approvedLog.ApprovedOn?.ToString("f")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                @if (!Model.IsView)
                {
                    <div class="form-group">
                        @foreach (var approve in Model.ApproveList)
                        {
                            <input type="radio" asp-for="Approve" value="@approve" />@approve<br />
                        }
                        <span asp-validation-for="Approve" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Comments"></label>
                        <input asp-for="Comments" class="form-control" />
                        <span asp-validation-for="Comments" class="text-danger"></span>
                    </div>

                    <button id="btnSubmit" type="submit" class="btn btn-primary">Sumbit</button>
                    <a asp-controller="SupplierRequest" asp-action="InboxList" class="btn btn-primary" style="width:auto">Cancel</a>
                }
                else
                {
                    <a asp-controller="SupplierRequest" asp-action="List" class="btn btn-primary" style="width:auto">Cancel</a>
                }

            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



